.app{

  background-color: #dadbd3;

  /* below 2 lines of code makes the box to fit in center */
  display: grid;
  place-items: center;

  /* complete gray box with below height */
  height: 100vh;
}


.app__body{
  display: flex;

  /* now the body box looks with below color */
  background-color: #ededed;
  
  /* gap between app vs app body */
  margin-top: -30px;


  /* dimensions of the box  */
  height: 100vh;
  width: 100vw;

  /* appearnce between the app and app body */
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.2);
}